.int-txt{
    height: 100%;
    align-items: center;
}

.h100{
    height: 100%;
}

img {
    width: 100%;
}

.img-text-element{
    z-index: 3;
}

.bloc-intro:after{
    content:" ";
    background: linear-gradient(
        89.35deg, #222222 1.92%, rgba(0, 0, 0, 0) 144.8%);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}


.bloc-intro{
    background-color: white;
    background-image: url(/assets/images/danse-class.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    color:white;
    position: relative;
}

.bloc-intro h2{
    font-size:60px;
    margin-bottom: 30px;
}

.bloc-intro p{
    font-size:20px;
    margin-bottom: 30px;
}