.int-txt{
    height: 100%;
    align-items: center;
}

.h100{
    height: 100%;
}

img {
    width: 100%;
}

.img-text-element{
    z-index: 3;
}

.bloc-intro:after{
    content:" ";
    background: linear-gradient(
        89.35deg, #222222 1.92%, rgba(0, 0, 0, 0) 144.8%);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}


.bloc-intro{
    background-color: white;
    background-image: url(/assets/images/danse-class.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    color:white;
    position: relative;
}

.bloc-intro h2{
    font-size:60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.bloc-intro p{
    font-size:20px;
    margin-bottom: 30px;
}

.anim {
    overflow: hidden;
    position: relative;
    height: 27px;
    background-color: black;
   }
   .anim h1 {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: sideswipe-a 15s linear infinite;
    -webkit-animation: sideswipe-a 15s linear infinite;
    animation: sideswipe-a 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes sideswipe-a {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes sideswipe-a {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes sideswipe-a {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }