<!--
<footer>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.7190878362385!2d2.3384888997509585!3d48.88263146456516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e440fc87efb%3A0x87e5341a95c656ca!2sLa%20Cigale!5e0!3m2!1sfr!2sfr!4v1637836953257!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <p class="footer">footer</p>
    <section class="footer container">
        <article class="footerinside col-12 col-xl-12">
            <div class="left_infos">
                <h4>Restez informés</h4>
                <div class="inline">
                    <a href="https://www.instagram.com/lacigaleofficiel/"><img class="logo_facebook" src="../assets/images/facebbok_blanc.png" alt="icone de notre facebook"></a>
                    <a href="https://fr-fr.facebook.com/LaCigaleParis/"><img class="logo_insta" src="../assets/images/insta.png" alt="icone de notre instagram"></a>
                </div>

                <div class="inline">
                    <p class="mail">adresse mail</p>
                    <a class="confirm_news" href="http://">S'abonner à la newsletter</a>
                </div>

                <h4>Nous contacter</h4>
                <div class="inline">
                    <img class="icon_mail" src="../assets/images/mail.png" alt="icnone mail, nous contacter">
                    <h5>accueil@lacigal.fr</h5>
                </div>
                <div class="inline">
                    <img class="icon_phone"src="../assets/images/phone.png" alt="icnone téléphone, nous contacter">
                    <h5>01 49 25 89 99</h5>
                </div>

                <a class="footer_link" href="">F.A.Q</a>
                <a class="footer_link" href="">Règlement intérieur</a>
            </div>
            <div class="right_infos">
                <img src="../assets/images/Vector.png" alt="lacigale Logo">
                <h4 class="regular">SALLE DE SPECTACLE DEPUIS 1887</h4>

                <H4>Nos partenaires</H4>
                <section class="logo_partenaires">
                    <img src="../assets/images/fnac.png" alt="fnac logo"/>
                    <img src="../assets/images/deezer.png" alt="deezer logo"/>
                    <img src="../assets/images/greenroom.png" alt="greenroom logo"/>
                    <img src="../assets/images/cnm.png" alt="cnm logo"/>

                </section>
                

            </div>
            
            

        </article>

    </section>
</footer>
-->