.divers{
    margin-bottom: 100px;
    .partiedivers{  
        margin-left: 110px; 
        p{
            font-size: 20px;
        }     
        .title80{
            h2{
                font-size: 31px;
                font-weight: bold;
            }   
        }
        h2{
            font-size: 31px;
            padding-bottom: 43px;
            line-height: 150%;
            strong{
                color: #ab000a;
                font-weight: bold;
            }
        }
    }
}
