.Evnt{

    .Evenements{       
        margin-top: 101px;
        margin-bottom: 99px;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;


    
        .enfant1{
            h2{
                font-size: 31px;
                font-weight: bold;
            }   
        }
        h2{
            font-size: 31px;
            padding-bottom: 43px;
            line-height: 150%;
            strong{
                color: #ab000a;
                font-weight: bold;
            }
        }
        p{
            font-size: 20px;
            strong{
                color: #ab000a;
                font-weight: bold;
            }
        }
        .buttondiv2{
            margin-top: 61px;
        }
    }
    img{
        width: 100%;
        margin-bottom: 31px;
    
    }
    .enfant2{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        background-image: 90%;
        justify-content: flex-end;
    }
}


#evicon{
    position: absolute;
    width: 176px;
    left: 97px;
}

@media screen and (max-width: 770px) {
    #evicon{
        display: none;
    }
}