.hist{
    padding-top: 100px;

    h2{
        font-size: 31px;
        font-weight: bold;
    }  

    .histo{       
        margin-top: 151px;
        margin-bottom: 99px;
        display: flex;
        align-items: center;
        justify-content: space-between;


    
        .enfant11{
            margin-top: -110px;
            position: relative;
    
            h2{
                font-size: 31px;
            }   
        
            h2{
                font-size: 31px;
                padding-bottom: 43px;
                line-height: 150%;
                strong{
                    color: #ab000a;
                    font-weight: bold;
                }
            }
            p{
                font-size: 20px;
                strong{
                    color: #ab000a;
                    font-weight: bold;
                }
            }
            .buttondiv22{
                position: absolute;
                right: 0px;
                margin-top: 30px;
            
            }
        }
    }
    img{
        
        width: 100%;
        margin-bottom: 31px;
    
    }
    .enfant22{
        display: flex;
        flex-direction: column;
        margin-top: -95px;
        background-image: 90%;
        justify-content: flex-end;
        h2{
            margin-bottom:49px ;
            font-size: 31px;
            font-weight: bold;
        }
    }
}


#evicon2{
    position: absolute;
    right: 0px !important;
    width: 176px;
    
}
