.Inf_imp{
    padding: 100px 0px 100px 0px;
    .infos{        
        .title{
            h2{
                font-size: 31px;
                font-weight: bold;
            }   
        }
        h2{
            font-size: 31px;
            padding-bottom: 43px;
            line-height: 150%;
        }
        p{
            font-size: 20px;
            strong{
                color: #ab000a;
                font-weight: bold;
            }
        }
        .buttondiv{
            margin-top: 61px;
        }
    }
}

.Inf_imp img:first-child{
    position: absolute;
    width: 450px;
    left: 276px;
}


@media screen and (max-width: 770px) {
    .Inf_imp img:first-child{
        display: none;
    }
}