<div class="event-cont">


<section class="container" id="anchor1">
        <div class="row">
            <div class="col-12 col-xl-12">

                <div class="events-title">
                    <h2>SPECTACLES A LA UNE</h2>
                    {% include button.html button_text="Afficher la programmation" btn_type="noir" %}
                </div>
                <div class="caroussel-event">

                    {% include index/image.html titre="L'appart" nom_image="ALaUneLAppart.png" image_alt="Piece de théatre L'appart, deux personnes se tiennent autour d'une table rectangulaire qui dispose d'une théière" %}
                    {% include index/image.html titre="Tuyaux" nom_image="ALaUneTuyaux.png" image_alt="Un groupe de personnes arborants fièrement un bâton de couleur"%}
                    {% include index/image.html titre="Chapeaux" nom_image="ALaUneChapeauxBas.png" image_alt="Un groupe de personnes habillés en paysans moyen-âgeux chantant en choeur"%}
        
                </div>
            </div>
        </div>
</section>
</div>


