<section class="event-cont" id="anchor1">
        <div class="container">
            <div class="events-title"><h2>SPECTACLES A LA UNE</h2>{% include button.html button_text="Afficher la programmation" btn_type="noir" %}</div>
            <div class="caroussel-event">

        {% include index/image.html titre="L'appart" nom_image="ALaUneLAppart.png" %}
        {% include index/image.html titre="Tuyaux" nom_image="ALaUneTuyaux.png" %}
        {% include index/image.html titre="Chapeaux" nom_image="ALaUneChapeauxBas.png" %}
    
        </div>
        </div>
</section>


