<section class="divers" >
    <div class="partiedivers">
    <figure class="col-12 col-xl-6 diversfigure">

        <div class="title80">
            <h2> DIVERS </h2>
        </div>
        
        <h2>En plein cœur de Paris, La Cigale est <strong>à proximité de nombreux lieux de restauration et d’hébergement.</strong> </h2>
        
        
        <p>Notre salle est accessible via plusieurs moyens de transports comme le métro, le bus, la voiture, le vélo ou même à pied ! 
        </br>
        Pour nous contacter, envoyez nous un mail : accueil@lacigale.fr 
        </p>
        
    </div>
    </figure>
</div>
</section>
