<section class="Evnt container">
    <article class="Evenements col-12 col-xl-12 ">

        <img id="evicon" src="../../assets/images/events.png"/>

        <div class="enfant1 col-xl-6">
            <h2> EVENEMENTS </h2>
            
            
            <h2>Voir les événements en cours ou <strong>créez le vôtre</strong> ! </h2>
            
            <p> Vous avez plein d'idées en tête ? La Cigale s’adapte à vos envies les plus folles !
                Connue comme étant une salle de concert, La Cigale vous accompagne aussi dans <strong>l’organisation de vos évènements</strong> et se transforme selon vos besoins !
                Séminaire, défilé, soirée d’entreprises, gala, cocktail, tournage, concert privé…
                N’hésitez pas à pousser les portes de La Cigale et parlons-en…            
            </p>
            

            <div class="buttondiv2">
                {% include button.html button_text="Voir les évènements" btn_type="blanc" %} <!--pour la couleur lors du hover, mettre soit noir, soit blanc-->
            </div>
            
            </div>
        </div>
        <div class="enfant2">
            <img src="../../assets/images/salle1.png">
            <img src="../../assets/images/salle2.png">
        </div>
    
    </article>
        
    
</section>
