<div class="anim"><h1 id="sideswipe">LA SALLE DE SPECTACLE INCONTOURNABLE DE PARIS</h1></div>
<section class="bloc-intro">
        <div class="container h100">
            <div class="row int-txt">
                <div class="col-6 col-lg-8 img-text-element">
                    {% include tag.html tag_text="CE SOIR" tag_type="info" %}
                    <h2>DANSE CLASSIQUE</h2>
                    <p>Le spectacle  “Le lac des Cygnes” sera présenté par la célèbre troupe de danse “Les cannetons empaillés”. Ils interpreteront le conte d’Iscard Rasquin et Piotr Ilitch Tchaïkovski le 30 novembre à 20h.</p>
                    {% include button.html button_text="RESERVEZ" btn_type="noir" %}
                </div>
            </div>
        </div>

</section>