<div class="anim"><h1 id="sideswipe">LA SALLE DE SPECTACLE INCONTOURNABLE DE PARIS</h1></div>
<section class="bloc-intro">
        <div class="container h100">
            <div class="row int-txt">
                <div class="col-12 col-lg-12 img-text-element">
                    {% include tag.html tag_text="CE SOIR" tag_type="info" %}
                    <h2>DANSE CLASSIQUE</h2>
                    <p>Ballet le plus joué au monde, Le Lac des Cygnes est de retour en 2020 pour une grande tournée en France et en Europe. A l’image des années précédentes, une nouvelle compagnie russe présentera cet intemporel chef-d’oeuvre classique. Ce ballet nous plonge dans la folle histoire d’amour du Prince Siegfried et de la Princesse Odette.</p>
                    {% include button.html button_text="RESERVEZ" btn_type="noir" %}
                </div>
                    <a class="voir-plus" href="#anchor1">
                        <p id="p-voirplus">Voir plus</p>
                        <img id="img2" src="../../assets/images/ic/fleche_blanche.png" alt="">
                    </a>
            </div>
        </div>
</section>