<figure class="affiche col-12 col-xl-4">
    <img class="img" src="../../assets/images/{{ include.nom_image }}.png">
    <figurecaption>
        <article class="HP_une">
        <h2>{{ include.titre }}</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda dolorum, sint ad commodi eligendi aliquam numquam eos nihil nam soluta facilis magnam, praesentium modi nemo natus molestiae dolor. Nisi, quaerat.</p>
        </article>
        {% include button.html button_text="RESERVEZ" btn_type="noir" %}
    </figurecaption>

</figure>