<section class="Inf_imp" >
    <div class="container">
    <figure class="col-12 col-xl-8 infos">

        <img src="../../assets/images/warning_rouge_2.png"/>

        <div class="title">
            <h2> INFOS IMPORTANTES </h2>
        </div>
        
        <h2>Mesures sanitaires, le pass sanitaire est obligatoire dans notre établissement.</h2>
        
        
        <p> La salle de la Cigale est une salle accueillant spectacles et concerts. Elle a une capacité de <strong>954 places assises</strong> ou <strong>1477 places avec un public debout</strong>.
            Il est conseillé aux personnes handicapées d’arriver en avance pour avoir plus de chance de mieux se déplacer/s’installer dans la salle. 
            </br>
            <strong>Un âge minimal de 3 ans pour les enfants.</strong>
            </br> 
            Aucun remboursement n’est possible si vous n’êtes pas arrivés à temps au concert, spectacle.
            </br>
            Il est strictement <strong>interdit</strong> d’avoir un appareil photo ou une caméra afin d’immortaliser le moment.Si vous souhaitez prendre votre matériel, vous devez réaliser une <strong>demande d’accréditation</strong> auprès de la production de l’artiste.
            A votre disposition également, <strong>des bouchons d’oreilles gratuits</strong>, un vestiaire personnel pour un montant de 2 € par article.
        </p>

        <div class="buttondiv">
            {% include button.html button_text="Plus d'informations" btn_type="noir" %} <!--pour la couleur lors du hover, mettre soit noir, soit blanc-->
        </div>
        
    </div>
    </figure>
</div>
</section>
