<selection class="Inf_imp" >
    <div class="title">
        <h2> INFOS IMPORTANTES </h2>
    </div>
    <h2>Mesures sanitaires, le pass sanitaire est obligatoire dans notre établissement.</h2>
    <h5> La salle de la Cigale est une salle accueillant spectacles et concerts. Elle a une capacité de 954 places assises ou 1477 places avec un public debout.
        Il est conseillé aux personnes handicapées d’arriver en avance pour avoir plus de chance de mieux se déplacer/s’installer dans la salle. 
        Un âge minimal de 3 ans pour les enfants. 
        Aucun remboursement n’est possible si vous n’êtes pas arrivés à temps au concert, spectacle.
        Il est strictement interdit d’avoir un appareil photo ou une caméra afin d’immortaliser le moment.Si vous souhaitez prendre votre matériel, vous devez réaliser une demande d’accréditation auprès de la production de l’artiste.
        A votre disposition également, des bouchons d’oreilles gratuits, un vestiaire personnel pour un montant de 2 € par article.</h5>
</selection>
