<section class="slider no_marg">
    <h4 class="bold titre_slider">{{ include.genre }}</h4>
    <div id="carousel{{ include.genre }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators placement_btn">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active circleBtn" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="circleBtn"aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="circleBtn"aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <div class="">
            
                    <div class="content_img">
                        <figure class="article_img">
                            <img src="/assets/images/prog/image41.png" class="" alt="Pièce de théatre Cendrillon ">
                            <figurecaption class="texte-image">
                                <h4>Cendrillon</h4>
                                <h5>12 novembre</h5>
                                <p>Sandra est une jeune fille qui a beaucoup d'imagination, et à qui il arrive un grand malheur : sa mère tombe gravement malade. Alors qu'elle va bientôt mourir...</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                        <figure class="article_img">
                            <img src="/assets/images/prog/image42.png" class="" alt="Pièce de théatre Violences conjugales">
                            <figurecaption class="texte-image">
                                <h4>Violences conjugales</h4>
                                <h5>30 novembre</h5>
                                <p>Cette pièce de théatre, écrite par Antoine Runbrocker, met en scène Isabelle, victime de violence par son mari. Manipulée, elle donne une grosse somme d'argent à...</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                    </div>
            
                    
                </div>
            </div>


        
            <div class="carousel-item">
                <div class="">
            
                    <div class="content_img">
                        <figure class="article_img">
                            <img src="/assets/images/prog/antigone.jpg" class="" alt="Pièce de théatre Antigone">
                            <figurecaption class="texte-image">
                                <h4>Antigone</h4>
                                <h5>12 novembre</h5>
                                <p>Pièce inspirée du mythe antique d'Antigone, la fille d'Œdipe, mais est écrite en rupture avec les codes de la tragédie grecque. Antigone est la fille d'Œdipe et de Jocaste...</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                        <figure class="article_img">
                            <img src="/assets/images/prog/LeCid.jpg" class="" alt="Pièce de théatre Le Cid">
                            <figurecaption class="texte-image">
                                <h4>Le Cid</h4>
                                <h5>30 novembre</h5>
                                <p>Le Cid met en scène Don Diègue et Don Gomès qui projettent d’unir leurs enfants Rodrigue et Chimène, qui s'aiment. Mais le comte, jaloux de se voir préférer le...</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                    </div>
            
                    
                </div>
            </div>

            <div class="carousel-item">
                <div class="">
            
                    <div class="content_img">
                        <figure class="article_img">
                            <img src="/assets/images/prog/Lhuitre.jpg" class="" alt="Pièce de théatre L'huitre">
                            <figurecaption class="texte-image">
                                <h4>L'Huitre</h4>
                                <h5>12 novembre</h5>
                                <p>Bertrand est fermé comme une huître et jaloux comme un pou ! Il soupçonne sa femme Sophie de le tromper avec Olivier. Son couple semble aller droit dans le mur...</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                        <figure class="article_img">
                            <img src="/assets/images/prog/LesFourberiesDeScapin.jpg" class="" alt="Pièce de théatre les fourberies de scapin">
                            <figurecaption class="texte-image">
                                <h4>Les fourberies de Scapin</h4>
                                <h5>30 novembre</h5>
                                <p>Deux bourgeois autoritaires rentrent de voyage avec la ferme intention de marier leur fils, Octave et Léandre à des inconnues. Mais pendant leur absence...</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                    </div>
                </div>
            </div>
        <button class="carousel-control-prev prev" type="button" data-bs-target="#carousel{{ include.genre }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon my_arrow" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next next" type="button" data-bs-target="#carousel{{ include.genre }}" data-bs-slide="next">
        <span class="carousel-control-next-icon my_arrow" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
</section>