<section class="slider">
    <h4 class="bold titre_slider">{{ include.genre }}</h4>
    <div id="carousel{{ include.genre }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators placement_btn">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active circleBtn" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="circleBtn"aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="circleBtn"aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <div class="">
            
                    <div class="content_img">
                        <figure class="article_img">
                            <img src="/assets/images/prog/image47.png" class="" alt="Humoriste Booder">
                            <figurecaption class="texte-image">
                                <h4>Booder</h4>
                                <h5>12 décembre</h5>
                                <p>Tout nouveau spectacle de Booder !Après avoir participé à de nombreux filmes, émissions télé ou encore des pièces de théatres, le comédien vient se produire à La Cigale</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                        <figure class="article_img">
                            <img src="/assets/images/prog/image48.png" class="" alt="Humoriste paul Mirable">
                            <figurecaption class="texte-image">
                                <h4>Paul Mirabel</h4>
                                <h5>30 décembre</h5>
                                <p>Jeune comédien de 26 ans, après avoir remporté le prix du campus comédie Tour, Paul Mirabel vient interpréter son tout nouvaux spectacle à la Cigale</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                    </div>
            
                    
                </div>
            </div>


        
            <div class="carousel-item">
                <div class="">
            
                    <div class="content_img">
                        <figure class="article_img">
                            <img src="/assets/images/prog/FlorenceForesti.jpg" class="" alt="Humoriste Florence Forestie">
                            <figurecaption class="texte-image">
                                <h4>Florence Forestie</h4>
                                <h5>8 décembre</h5>
                                <p>La grande humoriste connu aussi bien par les enfants que par les parents vient réaliser son nouvaux spectacle Mmm.Forestie </p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                        <figure class="article_img">
                            <img src="/assets/images/prog/KevAdams.jpg" class="" alt="Humoriste Kev adams">
                            <figurecaption class="texte-image">
                                <h4>Kev Adams</h4>
                                <h5>30 novembre</h5>
                                <p>L'artiste connu dans la france entière grâce à ca participation dans des filmes, émissions télés et ces spectacles</p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                    </div>
            
                    
                </div>
            </div>

            <div class="carousel-item">
                <div class="">
            
                    <div class="content_img">
                        <figure class="article_img">
                            <img src="/assets/images/prog/elodiePoux.jpg" class="" alt="...">
                            <figurecaption class="texte-image">
                                <h4>Elodie Poux</h4>
                                <h5>12 novembre</h5>
                                <p>Antoine is a flim that is a sample text description text on hover. Ce texte est un texte d’exemple lorsque l’utilisateur passe la souris sur cette photo. Le texte est étendu. </p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                        <figure class="article_img">
                            <img src="/assets/images/prog/BlancheGardin.jpg" class="" alt="Humoriste Blanche Gardin">
                            <figurecaption class="texte-image">
                                <h4>Blanche Gardin</h4>
                                <h5>30 novembre</h5>
                                <p>Antoine is a flim that is a sample text description text on hover. Ce texte est un texte d’exemple lorsque l’utilisateur passe la souris sur cette photo. Le texte est étendu. </p>
                                <a class="res_slider" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Réserver</p></a>
                            </figurecaption>
                        </figure>
                    </div>
                </div>
            </div>
        <button class="carousel-control-prev prev" type="button" data-bs-target="#carousel{{ include.genre }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon my_arrow" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next next" type="button" data-bs-target="#carousel{{ include.genre }}" data-bs-slide="next">
        <span class="carousel-control-next-icon my_arrow" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
</section>