
<section class="image_top">
    <div class="hero container">
        <h1>PROGRAMMATION DE LA CIGALE</h1>
        <div class="col-12 col-xl-12">
            <a class="agenda" href="">AGENDA</a>
                <div id="mois">
                    
                    <a href="">
                        <img src="../../assets/images/prog/fleche_blanche.png" alt="">
                    </a>
                    <a href="">NOVEMBRE</a>
                    <a href="">
                        <img src="../../assets/images/prog/fleche_blanche.png" alt="">
                    </a>

                </div>
            <a class="agenda" href="">CATEGORIES</a>

        </div>
    </div>
</section>
<section class="footerMobile">
    <a href="">AGENDA</a>
    <a href="">CATEGORIES</a>
</section>