.carousel-item{
    // border: 2px solid red;
    width: 100%;
    
}
.content_img{
    display: flex;
    // border: 2px solid yellow;
    margin: 0 auto;
    justify-content: space-between;
    width: 75% !important;
    img{
        width: 450px;
    }
    

   
}
.test{
    border: 2px solid blue;
}

.article_img{
    position: relative;
    
    // border: 2px solid pink;
}
.texte-image{
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.63);

    h4,h5,p{
        margin: 10px 15px;
        color: white;
    }
    h4{
        font-size: 25px;
        margin-top: 15px;
        font-weight: bold;
    }
    p{
        font-size: 17px;
    }
}

.placement_btn{
    bottom: -80px;
}
.carousel{
    
    position: relative;
}

.my_arrow{
    background-image: url("../../../assets/images/prog/fleche\ rouge\ last.png");
    height: 75px;
    width: 40px;
}
.prev{
    transform: rotate(180deg);
    
}


.circleBtn{
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;

    background-color: black !important;
    
    
}
.carousel-indicators{
     .active{
        height: 25px !important;
        width: 25px !important;
    }
} 
.bold{
    font-weight: bold;
}
.titre_slider{
    margin-left: 12.5vw;
    margin-bottom: 10px;
}
.slider{
    margin-bottom: 200px;
}