
.image_top{
    background-image: url("../../../assets/images/prog/evenement_1.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-bottom: 300px;
}
.hero{
    h1{
    font-size: 76px ;
    }
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 150px 0px;

    

    position: relative;
    a{
        padding: 10px 30px;
        background-color: #333333;
        color: white;
    
        text-decoration: none;
        font-size: 25px;
        
    
    
    }

}
#mois{
    display: flex;
    a{
        img{
            width: 40px;
            transform: rotate(90deg);
        }
    }
    & :last-child img{
        transform: rotate(-90deg);
    }
}
.hero > div{
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}