.BG_a_la_une{
    background-color: #DEDEDE;
    padding-top: 108px;
    padding-bottom: 98px;
    
}
.a-la-une{
    background-color: #DEDEDE;
    align-items: center;

    .une_title{
        display:flex;
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 57px;
        h2{
            font-size: 31px !important;
            font-weight: bold;
            color: black;

        }
    }
    .une_grid_size{
        figure{
            position: relative;
            figurecaption{
                position: absolute;
                z-index: 3;
                top:3%;
                color:white;
                left: 35px;
                bottom: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                

                .HP_une{
                    h2{
                    max-width: 95%;
                }
                p{
                    margin-top: 31px;
                    font-size: 25px;
                    line-height: 30px;
                    max-width: 95%;
                }
                
                }
                
                
            }
        }
        .img {
            width: 100%;
        }
        h2{
            font-size: 50px;
            
        }
        
    }
}


