.button{
    padding: 15px;
    background-color: #ab0000;
    color: white;
    text-decoration: none;
    border: 2px solid #ab0000;
    transition-duration: 0.2s;
    width:fit-content;
}
.noir:hover{
    background-color: black;
    border: black;

    

}
.blanc:hover{
    background-color: white;
    border-color: #ab0000;
    color: #ab0000;   
}