.button-noir{
    padding: 13px;
    background-color: #ab0000;
    color: white;
    text-decoration: none;
    border: 2px solid #ab0000;
    transition: 0.2s;
    display: flex;
    width: fit-content;
}

.button-blanc{
    padding: 13px;
    background-color: #fff;
    color: #ab0000;
    text-decoration: none;
    border: 2px solid #ab0000;
    transition: 0.2s;
    display: flex;
    width: fit-content;
}

.button-noir:hover{
    background-color: black;
    border: black;
    border: 2px solid black;
    color:white;
    transition: 0.2s;
}

.button-blanc:hover{
    background-color: #ab0000;
    border-color: #ab0000;
    color: #fff;
    transition: 0.2s;
}