header {
    background-color: #222222;
    position: sticky;
    top:0;
    left:0;
    color:white;
    display: flex;
    align-items: center;
    gap:15px;
    padding: 10px;
    z-index: 4;
}

.selection a{
    color:white;
    text-decoration: none;
    transition:0.2s;
    font-size: 19px;
}

.swipe{
    background-color: black;
    color:white;
    position: relative;
    display: flex;
    padding:5px;
}

.selection a:hover{
    transition:0.2s;
    color:rgb(196, 196, 196);
    text-shadow: 2px 2px 1px black;
}

.selection{
    display: flex;
    gap: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

header img{
    width: 160px;
}

header img:last-child{
    opacity: 0;
}














  .anim {
    overflow: hidden;
    position: relative;
    height: 27px;
    background-color: black;
   }
   .anim h1 {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    line-height: 27px;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: sideswipe-a 15s linear infinite;
    -webkit-animation: sideswipe-a 15s linear infinite;
    animation: sideswipe-a 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes sideswipe-a {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes sideswipe-a {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes sideswipe-a {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }